
h1{
    text-align: center;
    color: aliceblue;
}

body {
    background-image: url('Fonfo3.jpg');/*Imagen de fondo*/
}
body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
body > h1{
    background-color: rgb(73, 226, 175) ;
    margin: 10px;
}
input{
    height: 24px;
    border: 1px solid rgb(129, 131, 134);
    border-radius: 5px;
}
input[type=submit],
input[type=button],
input[type=file]{
    text-align: center;
    background-color: rgb(61, 49, 235);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bolder;
    height: 32px;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover{
    text-align: center;
    color:  rgba(102, 248, 72, 0.863);
    background-color: #FFF;
}
input[type=text]:invalid,
input[type=date]:invalid,
input[type=file]:invalid,
input[type=url]:invalid,
input[type=tel]:invalid{
    text-align: center;
    background-color: rgb(41, 223, 214);
    color: black;
}
input[type=text]:valid, /* Estilo para los input de tipo text, date y file */
input[type=date]:valid, /* Cuando es valido su contenido */
input[type=file]:valid,
input[type=url]:valid,
input[type=tel]:valid{
    text-align: center;
    background-color: rgb(30, 230, 90);
    color: black;
}